html,
body {
  margin: 0;
  padding: 0;
  font-family: "Amatic SC", "Trebuchet MS", monospace;
  font-size: 24px;
  font-weight: 400;
  color: white;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(136deg, #936fdb, #7cbeff, #20b3aa);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
}

canvas {
  border-radius: 4px;
  display: block;
}

body {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 24px;
  height: 600px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0;
}

.description {
  margin: 0;
}

a {
  color: #936fdb;
}

a:hover {
  color: dodgerblue;
}

.result {
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  width: 400px;
  font-family: "Courier New", Courier, monospace;
  background: dodgerblue;
  height: 44px;
  border-radius: 4px;
  margin: 0;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 58%;
  }
  50% {
    background-position: 100% 43%;
  }
  100% {
    background-position: 0% 58%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 58%;
  }
  50% {
    background-position: 100% 43%;
  }
  100% {
    background-position: 0% 58%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 58%;
  }
  50% {
    background-position: 100% 43%;
  }
  100% {
    background-position: 0% 58%;
  }
}
